In [1]:
import pandas as pd

df = pd.read_csv('verbruik.csv', delimiter=';')
print(df.head())

    Van Datum Van Tijdstip   Tot Datum Tot Tijdstip                    EAN  \
0  13-06-2023     00:00:00  13-06-2023     00:15:00  ="541448820053424929"
1  13-06-2023     00:00:00  13-06-2023     00:15:00  ="541448820053424929"
2  13-06-2023     00:15:00  13-06-2023     00:30:00  ="541448820053424929"
3  13-06-2023     00:15:00  13-06-2023     00:30:00  ="541448820053424929"
4  13-06-2023     00:30:00  13-06-2023     00:45:00  ="541448820053424929"

            Meter       Metertype        Register Volume Eenheid  \
0  1SAG3100623778  Digitale Meter    Afname Nacht  0,053     kWh
1  1SAG3100623778  Digitale Meter  Injectie Nacht  0,000     kWh
2  1SAG3100623778  Digitale Meter    Afname Nacht  0,045     kWh
3  1SAG3100623778  Digitale Meter  Injectie Nacht  0,000     kWh
4  1SAG3100623778  Digitale Meter    Afname Nacht  0,056     kWh

  Validatiestatus
0     Gevalideerd
1     Gevalideerd
2     Gevalideerd
3     Gevalideerd
4     Gevalideerd

C:\Users\marca\AppData\Local\Temp\ipykernel_21340\3206379221.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
print(df.head(3))

    Van Datum Van Tijdstip   Tot Datum Tot Tijdstip                    EAN  \
0  13-06-2023     00:00:00  13-06-2023     00:15:00  ="541448820053424929"
1  13-06-2023     00:00:00  13-06-2023     00:15:00  ="541448820053424929"
2  13-06-2023     00:15:00  13-06-2023     00:30:00  ="541448820053424929"

            Meter       Metertype        Register Volume Eenheid  \
0  1SAG3100623778  Digitale Meter    Afname Nacht  0,053     kWh
1  1SAG3100623778  Digitale Meter  Injectie Nacht  0,000     kWh
2  1SAG3100623778  Digitale Meter    Afname Nacht  0,045     kWh

  Validatiestatus
0     Gevalideerd
1     Gevalideerd
2     Gevalideerd

In [6]:
float(df.iloc[0]['Volume'])

ValueError: could not convert string to float: '0,053'